.wrap {
    width: fit-content;
    height: fit-content;
    position: relative;

    &:hover [data-element="sheet-aside"] {
        opacity: 1;
        pointer-events: all;
    }
}

.sheet {
    // A4 Standard
    width: 210mm;
    height: 297mm;
    padding: 20mm;

    background: white;
    outline: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;

    
    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        // background: red;

        svg{
            // width: 100%;
            height: 100%;
        }
    }

    .sheet_inner_margins {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        &:hover {
            outline: 1px dashed #ccc;
        }
    }


    .page_number_wrap {
        position: absolute;
        bottom: 10mm;
        right: 10mm;
        background: #fff8;
        padding: 5px;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        line-height: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .page_footer_title_wrap {
        position: absolute;
        bottom: 10mm;
        left: 10mm;
        background: #fff8;
        padding: 5px;
        border-radius: 3px;
    }
}

.fake_gap {
    width: 100%;
    flex: 1;
    padding-top: 30px;
    cursor: pointer;
    

    &:hover {
        background: #f6f6f6;
        .add_section{opacity: 1;}
    }

    .add_section {
        width: 100%;
        height: 1px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        $color: #ccc;
        background: $color;

        // Hide
        opacity: 0;

        .add_section_label {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border: 1px solid $color;
            background: #eee;
            padding: 4px;
            color: #aaa;
            border-radius: 5px;
            font-size: 12px;
        }
    }
}