.wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: #0004;

    .section_ai_inner {
        width: 210mm; // A4 paper width
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 0 10px #0002;
        border: 1px solid #0001;
        gap: 10px;
    }

}


.ai_input_wrap{
    border: 1px solid #0001;
    border-radius: 5px;
    overflow: hidden;
    
    .ai_input_text_wrap {
        display: flex;
        width: 100%;
    
        input {
            width: 100%;
            border: none;
            outline: none;
            padding: 5px;
            height: 30px;
        }
    
        button {
            border: none;
            background: #0001;
            width: 35px;
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
    
            svg{
                width: 16px;
                height: 16px;
                transform: rotate(45deg);
    
                path{
                    stroke: #0008;
                }
            }
    
            &:hover {
                background: #0002;
            }
    
            .loading_overlay {
                position: absolute;
                top: 0;
                left: 0;
                transform: translateX(-100%);
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 10px;
                gap: 5px;
                
                $color: #0004;
                
                .loading_info{
                    width: fit-content;
                    font-size: 12px;
                    padding-left: 5px;
                    display: flex;
                    align-items: center;    
                    gap: 5px;
                    color: $color;

                    .error_msg{
                        position: absolute;
                        bottom: -15px;
                        right: 10px;
                        font-size: 10px;
                        color: #f008;
                        width: 400px;
                        text-align: end;
                    }

                }
    
            }
        }
    
        &:hover input {
            background: #0001;
        }
    }

    .ai_input_options{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        padding: 10px;
        border-top: 1px solid #0001;
        padding-top: 15px;

        .ai_option_select{
            display: flex;
            flex-direction: column;
            gap: 5px;

            span{
                font-size: 12px;
                color: #0008;
                padding-left: 10px;
            }

            select{
                padding: 5px;
                border: 1px solid #0001;
                border-radius: 5px;
                outline: none;
            }

            input{
                padding: 5px;
                border: 1px solid #0001;
                border-radius: 5px;
                outline: none;
            }
        }

        .ai_option_text{
            display: flex;
            flex-direction: column;
            gap: 5px;
            flex: 1;
            min-width: 200px;

            span{
                font-size: 12px;
                color: #0008;
                padding-left: 10px;
            }

            input{
                padding: 5px;
                border: 1px solid #0001;
                border-radius: 5px;
                outline: none;
            }
        }
    }
}

.information_wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    span{
        font-size: 12px;
        color: #0008;
        text-align: center;
    }
}

.ai_section_draft_wrap {
    padding: 0 calc(20mm - 20px);
    position: relative;
    
    // Let know the user that the section is in draft mode
    &:before {
        content: 'Borrador (acepta los cambios para poder editarlo)';
        position: absolute;
        bottom: 20px;
        left: 50%;
        background: #0008;
        border: 1px solid #ffd000;
        color: #ffd415;
        padding: 5px 10px;
        border-radius: 5px;
        transform: translateX(-50%);
        opacity: .6;
        z-index: 100;
        font-size: 12px;
    }

    .preview_section {
        max-height: 60vh;
        overflow-y: scroll;
        overflow-x: hidden;

        // Pretty scrollbar
        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }

        &::-webkit-scrollbar-thumb {
            background: #ddd; 
        }




        [data-element="section"]{
            pointer-events: none;
        }
    }
    
}

.ai_buttons {
    display: flex;
    justify-content: center;

    .ai_buttons_inner {
        display: flex;
        overflow: hidden;
        gap: 10px;
        
        button {
            border-radius: 4px;
            padding: 10px 20px;
            border: none;
            background: none;
            cursor: pointer;

            &:nth-child(1) {
                // Accept button
                background: #4caf5088;
                color: #fff;

                &:hover {
                    background: #4caf50;
                }
            }

            &:nth-child(2) {
                // Cancel button
                background: #f4433688;
                color: #fff;

                &:hover {
                    background: #f44336;
                }
            }

            &:active {
                filter: brightness(0.9);
            }
        }
    }
}