.section_aside {
    position: absolute;
    top: 0;
    left: 0;
    width: 20mm;
    height: 100%;
    background: #0001;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 10;
    transition: all .1s ease-in-out;


    // Hide
    opacity: 0;
    pointer-events: none;

    .section_aside_toolbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: white;
        outline: 1px solid #0001;
        border-radius: 5px;
        padding: 2px;
        gap: 2px;
        margin-right: 8px;
        margin-top: 4px;

        .toolbar_button {
            width: 30px;
            height: 30px;
            background: none;
            border: none;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all .1s ease-in-out;

            $color: #0004;
            $hover-color: #0002;

            font-weight: 700;
            filter: invert(.7);

            svg{
                width: 60%;
                height: 60%;

            }            

            &:hover {
                background: $hover-color;
                filter: invert(.4);
            }
        }
    }
}