*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::selection{
    background-color: #367ee8b9;
    color: #fff;
  }
}

body{
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}